*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --color-accent: #00afb9;
}

body {
  background: #f0f0f0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-areas: 
    "nav title"
    "nav main"
    "nav footer";
}

nav {
  grid-area: nav;
  background: #fdfdfd;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #2d3441;
  position: relative;
  /* height: fit-content; */
  a.atras {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #888888;
    transition: all 0.3s ease-in-out;
    span {
      position: absolute;
      pointer-events: none;
      /* display: none; */
      width: max-content;
      padding: 5px 7px;
      font-size: 0.7rem;
      top: -18px;
      background: #111827;
      border-radius: 4px;
      color: #ddd;
      transition: all 0.3s ease;
      opacity: 0;
    }
    &:hover {
      border-color: var(--color-accent);
      color: var(--color-accent);
      span {
        top: -25px;
        opacity: 1;
      }
    }

  }
  hr {
    border: none;
    border-top: 1px solid #e5e7eb;
  }
  .control {
    padding: 20px;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .box-input {
    margin-bottom: 10px;
    label {
      display: block;
      margin-bottom: 7px;
      font-size: 0.9rem;
    }
    input {
      border: solid 1px #d1d5db;
      border-radius: 3px;
      padding: 10px;
      width: 210px;
      outline: solid 0px transparent;
      transition: all 0.2s ease-in-out;
      &:focus {
        outline-color: #3b82f6;
        outline-width: 1px;
        border-color: #3b82f6;
        background: white;
      }
    }
  }
  .box-button {
    display: flex;
    gap: 10px;
    button {
      width: 100%;
      padding: 10px;
      border: solid 1px #d1d5db;
      border-radius: 3px;
      background: transparent;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &.btn-submit {
        color: #1b8342;
        &:hover {
          background-color: rgba(27, 131, 66, 0.1);
        }
      }
      &.btn-clear {
        color: #b91c1c;
        &:hover {
          background-color: rgba(185, 28, 28, 0.1);
        }
      }
    }
  }
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  h1{
    font-size: 1.3rem;
    color: #111827;
  }
  span {
    font-size: 0.9rem;
    color: #6b7280;
  }
}

main {
  width: 100%;
  background: white;
  border-radius: 10px;
  flex: 1;
  overflow: auto;
  scrollbar-width: thin;
}

footer {
  grid-area: footer;
  position: relative;
  span {
    display: block;
    font-size: 0.9rem;
    color: #6b7280;
    text-align: center;
  }
}

.mensaje {
  position: absolute;
  right: 45px;
  bottom: 70px;
  font-size: 0.85rem;
  padding: 10px 15px;
  border: solid 1px #d1d5db;
  border-radius: 8px;
  i {
    margin-right: 5px;
  }
  &.aceptada {
    background-color: #5eff44;
    border-color: #009504;
    color: #003705;
    box-shadow: 0 0 10px #00ff00aa;
  }
  &.rechazada {
    background-color: #ff5e5e;
    border-color: #950000;
    color: #370000;
    box-shadow: 0 0 10px #ff0000aa;
  }
}

/* Caja que contiene todos los acordeones */
.acordion-box {
  position: absolute;
  bottom: 35px;
  left: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Cada acordeón */
.acordion {
  width: fit-content;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  height: fit-content;
  align-self: flex-end;
}

/* Header */
.acordion-header button {
  width: 100%;
  background: #fdfdfd;
  border: none;
  padding: 10px 15px;
  font-size: 0.9rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s ease;
}

.acordion-header button:hover {
  background: #eeeeee;
}

/* Ícono */
.acordion-header i {
  transition: transform 0.3s ease;
}

/* Cuando el acordeón está abierto */
.acordion.open .acordion-header i {
  transform: rotate(180deg); /* la flechita apunta hacia abajo */
}

/* Contenedor colapsable: inicia cerrado */
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

/* Cuando está abierto */
.acordion.open .collapse {
  max-height: 500px; /* suficiente para mostrar contenido */
}

/* Cuerpo del acordeón */
.acordion-body {
  color: #2d3441;
  padding: 15px;
  background: #ffffff;
  font-size: 0.85rem;
  line-height: 1.5;
  border-top: 1px solid #ddd;
  max-height: 430px;
  overflow-y: auto;
  scrollbar-width: thin;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
  background: #ffffff;
}

thead {
  background: #f3f4f6; /* gris suave */
}

th, td {
  padding: 8px 12px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

th {
  font-weight: 600;
  color: #333;
}

tbody tr:hover {
  background: #f7f9fc; /* efecto suave al pasar el mouse */
}

tbody tr:last-child td {
  border-bottom: none; /* quita la línea final */
}

.swal2-shown.swal2-height-auto {
  width: 100vw !important;
  height: 100vh !important;
}