@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-background: #000814;
  --color-primary: #001D3D;
  --color-secondary: #003566;
  --color-accent: #00afb9;
  --color-shadow-neon: rgba(0, 175, 185, 0.7);
  --color-text: #a1a1a1;
  --color-title: #FFFFFF;
  --color-card-text: #333333;
  --color-card-title: #000000;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: transparent;
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: space-between;
  padding: 20px 4%;
  gap: 10px;
  border-bottom: solid 1px var(--color-secondary);
  z-index: 1000;
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: 0 0 8px var(--color-shadow-neon);
    pointer-events: none;
    color: white;
    letter-spacing: 1px;
    i {
      color: var(--color-accent);
    }
    span {
      color: var(--color-accent);
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 10px;
      li {
        position: relative;
        a {
          text-decoration: none;
          color: var(--color-text);
          padding: 5px 10px;
          transition: all 0.3s ease;
          font-size: 0.9rem;
          &:hover {
            color: white;
            text-shadow: 0 0 8px var(--color-shadow-neon);
            .sub-menu {
              height: max-content;
              padding: 10px;
              opacity: 1;
              text-shadow: none;
            }
          }
          &.active {
            color: white;
            text-shadow: 0 0 8px var(--color-shadow-neon);
          }
          .sub-menu {
            position: absolute;
            flex-direction: column;
            width: max-content;
            /* pointer-events: none; */
            padding: 0px 10px;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(10px) !important;
            top: 130%;
            border-radius: 4px;
            /* box-shadow: 0 0 8px var(--color-shadow-neon); */
            left: 50%;
            transform: translateX(-50%);
            height: 0px;
            overflow: hidden;
            transition: all 0.5s ease;
            z-index: 1000;
            li {
              color: var(--color-text);
              box-shadow: none;
              font-size: 0.75rem;
              &:hover {
                text-shadow: 0 0 8px var(--color-shadow-neon);
                color: var(--color-title);
              }
            }
          }  
        }
      }
    }
  }
}

.banner {
  width: 100%;
  /* max-width: 1200px; */
  margin: 40px auto;
  padding-bottom: 8rem;
  position: relative;
  h1 {
    font-size: 3rem;
    color: var(--color-title);
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0 0 8px var(--color-shadow-neon);
  }
  p {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.05rem;
    line-height: 1.6;
    font-weight: 300;
  }
  a {
    display: block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--color-text);
    &:hover{
      box-shadow: 0 0 8px var(--color-shadow-neon);
      border-color: var(--color-accent);
      color: white;
      span {
        top: -15px;
        opacity: 1;
      }
    }
    span {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      color: var(--color-text);
      font-size: 0.75rem;
      transition: all 0.3s ease;
      width: max-content;
      padding: 5px 7px;
      background-color: black;
      border-radius: 5px;
      transition: all 0.4s ease;
    }
  }
}

.card-automatas {
  position: relative;
  border-bottom: 2px solid var(--color-accent);
  .cards {
    display: flex;
    /* align-items: center; */
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: relative; */
    .card {
      color: var(--color-card-text);
      padding: 20px;
      border-radius: 10px;
      border: solid 1px rgba(255, 255, 255, 0.1);
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      width: 300px;
      transition: all 0.3s ease;
      &.vacio {
        width: 40px;
        height: 40px;
        position: relative;
        /* top: -150%; */
        transform: translateY(290%);
      }
      &:hover:not(.vacio) {
        box-shadow: 0 0 12px var(--color-shadow-neon);
        border-color: var(--color-accent);
        a {
          color: var(--color-accent);
        }
      }
      h2 {
        color: var(--color-card-title);
        font-size: 1.2rem;
        margin-bottom: 7px;
      }
      span.tipo {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 0.85rem;
        color: var(--color-accent);
        text-shadow: 0 0 6px var(--color-shadow-neon);
        font-weight: bold;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.4;
        margin-bottom: 15px;
        span {
          font-weight: bold;
          color: var(--color-accent);
        }
      }

      p.ejemplo {
        font-size: 0.8rem;
        font-family: 'Courier New', Courier, monospace;
        padding: 8px;
        background-color: #000814;
        color: var(--color-text);
        border-radius: 4px;
        border-left: solid 4px var(--color-accent);
      }

      a {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: auto;
        text-decoration: none;
        border-radius: 50%;
        border: solid 1px rgba(0, 0, 0, 0.2);
        color: var(--color-card-text);
        &:hover {
          box-shadow: 0 0 8px var(--color-shadow-neon);
          border-color: var(--color-accent);
        }
      }
    }
  }
}

.tecnologia {
  background: white;
  padding-top: 250px;
  padding-bottom: 200px;
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--color-card-text);
      i {
        font-size: 40px;
        &.fa-html5 {
          color: #E34F26;
        }
        &.fa-css3-alt {
          color: #1572B6;
        }
        &.fa-js {
          color: #F7DF1E;
        }
        &.fa-github {
          color: #181717;
        }
      }
      img {
        width: 40px;
      }
    }
  }
}

footer {
  width: 100%;
  border-top: solid 2px var(--color-accent);
  .content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 4%;
    height: fit-content;
    font-size: 0.9rem;
    margin: auto;
    width: fit-content;
  }
  .col {
    text-align: center;
    max-width: 300px;
    padding: 0 20px;
    .logo {
      i {
        font-size: 4rem;
      }
      img {
        height: 60px;
        border-radius: 50%;
      }
      .logo-text {
        margin-top: 10px;
        font-weight: 700;
        color: var(--color-title);
        span {
          color: var(--color-accent);
        }
      }
    }
    p {
      text-align: left;
      margin-bottom: 7px;
      color: var(--color-title);
    }
    ul {
      padding-left: 30px;
      li {
        text-align: left;
        font-size: 0.8rem;
      }
    }
    .social {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      margin-left: 30px;
      font-size: 2rem;
      a {
        text-decoration: none;
        color: var(--color-text);
        transition: all 0.3s ease-in-out;
        &:hover {
          color: white;
        }
      }
    }
  }
  .line {
    height: 150px;
    width: 1px;
    background: var(--color-accent);
  }
  p.copy {
    text-align: center;
    padding-bottom: 20px;
    font-size: 0.8rem;
  }
}